// Footer general styles

.footer
	background royal_blue
	height 40px
	line-height 40px
	width 100%
	position: fixed
	bottom 0
	padding 0px 10px
	left 0 
	text-align left !important
	border-top 10px solid #F1F1F1

@import "modules/footer/content-blocks/consult-record.styl"