@font-face {
  font-family: 'franklin_bookit';
  src:  url("../fonts/franklin-gothic/book-italic/FranklinGothic-BookIt-webfont.eot");
  src:  url("../fonts/franklin-gothic/book-italic/FranklinGothic-BookIt-webfont.eot?#iefix") format('embedded-opentype'), 
        url("../fonts/franklin-gothic/book-italic/FranklinGothic-BookIt-webfont.woff2") format('woff2'), 
        url("../fonts/franklin-gothic/book-italic/FranklinGothic-BookIt-webfont.woff") format('woff'), 
        url("../fonts/franklin-gothic/book-italic/FranklinGothic-BookIt-webfont.ttf") format('truetype'), 
        url("../fonts/franklin-gothic/book-italic/FranklinGothic-BookIt-webfont.svg#franklin_gothic_fsbook_italic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franklin_book';
  src: url("../fonts/franklin-gothic/book/FranklinGothic-Book-webfont.eot");
  src: url("../fonts/franklin-gothic/book/FranklinGothic-Book-webfont.eot?#iefix") format('embedded-opentype'), 
       url("../fonts/franklin-gothic/book/FranklinGothic-Book-webfont.woff2") format('woff2'), 
       url("../fonts/franklin-gothic/book/FranklinGothic-Book-webfont.woff") format('woff'), 
       url("../fonts/franklin-gothic/book/FranklinGothic-Book-webfont.ttf") format('truetype'), 
       url("../fonts/franklin-gothic/book/FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franklin_demiit';
  src: url("../fonts/franklin-gothic/demi-italic/FranklinGothic-DemiIt-webfont.eot");
  src: url("../fonts/franklin-gothic/demi-italic/FranklinGothic-DemiIt-webfont.eot?#iefix") format('embedded-opentype'), 
       url("../fonts/franklin-gothic/demi-italic/FranklinGothic-DemiIt-webfont.woff2") format('woff2'), 
       url("../fonts/franklin-gothic/demi-italic/FranklinGothic-DemiIt-webfont.woff") format('woff'), 
       url("../fonts/franklin-gothic/demi-italic/FranklinGothic-DemiIt-webfont.ttf") format('truetype'), 
       url("../fonts/franklin-gothic/demi-italic/FranklinGothic-DemiIt-webfont.svg#franklin_gothic_fsdemi_italic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franklin_demi';
  src: url("../fonts/franklin-gothic/demi/FranklinGothic-Demi-webfont.eot");
  src: url("../fonts/franklin-gothic/demi/FranklinGothic-Demi-webfont.eot?#iefix") format('embedded-opentype'), 
       url("../fonts/franklin-gothic/demi/FranklinGothic-Demi-webfont.woff2") format('woff2'), 
       url("../fonts/franklin-gothic/demi/FranklinGothic-Demi-webfont.woff") format('woff'), 
       url("../fonts/franklin-gothic/demi/FranklinGothic-Demi-webfont.ttf") format('truetype'), 
       url("../fonts/franklin-gothic/demi/FranklinGothic-Demi-webfont.svg#franklin_gothic_fsdemi") format('svg');
  font-weight: normal;
  font-style: normal;
}
