icomoon-font-path ?= "../fonts/ipmotor3/"

icon3-alert = "\e912"
icon3-clock = "\e90f"
icon3-circle-full = "\e910"
icon3-circle-half = "\e911"
icon3-warning = "\e913"
icon3-alert2 = "\e913"
icon3-checkmark = "\e914"
icon3-tick = "\e914"
icon3-edit1 = "\e90d"
icon3-file-empty = "\e99d"
icon3-file-empty2 = "\e99e"
icon3-files-empty = "\e99f"
icon3-files-empty2 = "\e9a0"
icon3-file-add = "\e9a1"
icon3-file-add2 = "\e9a2"
icon3-file-minus = "\e9a3"
icon3-file-minus2 = "\e9a4"
icon3-file-download3 = "\e9a5"
icon3-file-download22 = "\e9a6"
icon3-file-upload3 = "\e9a7"
icon3-file-upload22 = "\e9a8"
icon3-file-check3 = "\e9a9"
icon3-file-check22 = "\e9aa"
icon3-file-eye2 = "\e9ab"
icon3-file-eye22 = "\e9ac"
icon3-file-text2 = "\e9ad"
icon3-file-text3 = "\e9ae"
icon3-file-presentation = "\e9bf"
icon3-file-presentation2 = "\e9c0"
icon3-notebook = "\ea2e"
icon3-envelop = "\ea30"
icon3-envelop2 = "\ea31"
icon3-envelop3 = "\ea32"
icon3-envelop4 = "\ea33"
icon3-location2 = "\ea39"
icon3-watch2 = "\ea52"
icon3-alarm = "\ea53"
icon3-alarm-add = "\ea54"
icon3-alarm-check = "\ea55"
icon3-alarm-cancel = "\ea56"
icon3-printer2 = "\ea68"
icon3-printer3 = "\ea69"
icon3-floppy-disk = "\ea89"
icon3-database-add = "\ea98"
icon3-database-remove = "\ea99"
icon3-database-insert = "\ea9a"
icon3-database-export = "\ea9b"
icon3-database-upload = "\ea9c"
icon3-database-refresh = "\ea9d"
icon3-database-diff = "\ea9e"
icon3-database-edit = "\ea9f"
icon3-database-edit2 = "\eaa0"
icon3-database-check = "\eaa1"
icon3-database-arrow = "\eaa2"
icon3-database-time = "\eaa3"
icon3-database-time2 = "\eaa4"
icon3-wrench = "\eb58"
icon3-wrench2 = "\eb59"
icon3-wrench3 = "\eb5a"
icon3-cog = "\eb5f"
icon3-cogs = "\eb60"
icon3-cog2 = "\eb61"
icon3-cog3 = "\eb62"
icon3-cog4 = "\eb63"
icon3-cog5 = "\eb64"
icon3-cog6 = "\eb65"
icon3-cog7 = "\eb66"
icon3-hammer = "\eb68"
icon3-hammer-wrench = "\eb69"
icon3-screwdriver = "\eb6b"
icon3-screwdriver2 = "\eb6c"
icon3-pie-chart = "\eb80"
icon3-pie-chart2 = "\eb81"
icon3-meter = "\ebde"
icon3-meter2 = "\ebdf"
icon3-meter-slow = "\ebe0"
icon3-meter-medium = "\ebe1"
icon3-meter-fast = "\ebe2"
icon3-meter3 = "\ebe3"
icon3-menu5 = "\ec6f"
icon3-menu6 = "\ec70"
icon3-menu9 = "\ec73"
icon3-menu10 = "\ec74"
icon3-eye2 = "\ecae"
icon3-eye-plus = "\ecaf"
icon3-eye-minus = "\ecb0"
icon3-checkmark6 = "\ed6f"
icon3-checkmark23 = "\ed70"
icon3-checkmark322 = "\ed71"
icon3-checkmark4 = "\ed72"
icon3-checkmark5 = "\ed73"
icon3-file-eye = "\e900"
icon3-file = "\e900"
icon3-document = "\e900"
icon3-file-preview = "\e900"
icon3-page = "\e900"
icon3-paper = "\e900"
icon3-file-upload = "\e901"
icon3-file2 = "\e901"
icon3-document2 = "\e901"
icon3-page2 = "\e901"
icon3-paper2 = "\e901"
icon3-file-check = "\e902"
icon3-file3 = "\e902"
icon3-document3 = "\e902"
icon3-checkmark22 = "\e902"
icon3-correct = "\e902"
icon3-tick3 = "\e902"
icon3-page3 = "\e902"
icon3-paper3 = "\e902"
icon3-file-check2 = "\e903"
icon3-file4 = "\e903"
icon3-document4 = "\e903"
icon3-checkmark32 = "\e903"
icon3-correct2 = "\e903"
icon3-tick22 = "\e903"
icon3-page4 = "\e903"
icon3-paper4 = "\e903"
icon3-file-download = "\e904"
icon3-file5 = "\e904"
icon3-document5 = "\e904"
icon3-page5 = "\e904"
icon3-paper5 = "\e904"
icon3-file-upload2 = "\e905"
icon3-file6 = "\e905"
icon3-document6 = "\e905"
icon3-page6 = "\e905"
icon3-paper6 = "\e905"
icon3-file-download2 = "\e906"
icon3-file7 = "\e906"
icon3-document7 = "\e906"
icon3-page7 = "\e906"
icon3-paper7 = "\e906"
icon3-user-plus = "\e973"
icon3-user-minus = "\e974"
icon3-user-check = "\e975"
icon3-equalizer = "\e992"
icon3-truck = "\e9b0"
icon3-menu3 = "\e9c1"
icon3-menu4 = "\e9c2"
icon3-eye = "\e9ce"
icon3-plus = "\ea0a"
icon3-minus = "\ea0b"
icon3-cross = "\ea0f"
icon3-checkmark3 = "\ea10"
icon3-checkmark222 = "\ea11"
icon3-enter = "\ea13"
icon3-exit = "\ea14"
icon3-radio-checked = "\ea57"
icon3-radio-checked2 = "\ea58"
icon3-radio-unchecked = "\ea59"
icon3-filter = "\ea5b"
icon3-file-pdf = "\eadf"
icon3-file-excel = "\eae2"
icon3-exclamation-triangle = "\f071"
icon3-warning2 = "\f071"
icon3-calendar = "\f073"
icon3-calendar-o = "\f133"
icon3-dot-circle-o = "\f192"
icon3-calendar-plus-o = "\f271"
icon3-calendar-minus-o = "\f272"
icon3-calendar-times-o = "\f273"
icon3-calendar-check-o = "\f274"
icon3-stop-circle-o = "\f28e"
icon3-motorcycle = "\e907"
icon3-bike = "\e915"
icon3-motorcycle2 = "\e915"
icon3-travel = "\e915"
icon3-ride = "\e915"
icon3-checked = "\e916"
icon3-checkmark2 = "\e916"
icon3-tick2 = "\e916"
icon3-checkbox = "\e916"
icon3-bike2 = "\e908"
icon3-motorcycle22 = "\e908"
icon3-travel2 = "\e908"
icon3-ride2 = "\e908"
icon3-tools = "\e909"
icon3-options = "\e909"
icon3-repair = "\e909"
icon3-error_outline = "\e917"
icon3-error = "\e918"
icon3-mode_edit = "\e90e"
icon3-local_shipping = "\e90a"
icon3-local_offer = "\e90b"
icon3-local_gas_station = "\e90c"


@font-face
  font-family 'ipmotor3'
  src url(icomoon-font-path + '/ipmotor3.eot?nhk53d')
  src url(icomoon-font-path + '/ipmotor3.eot?nhk53d#iefix') format('embedded-opentype'), url(icomoon-font-path + '/ipmotor3.ttf?nhk53d') format('truetype'), url(icomoon-font-path + '/ipmotor3.woff?nhk53d') format('woff'), url(icomoon-font-path + '/ipmotor3.svg?nhk53d#ipmotor3') format('svg')
  font-weight normal
  font-style normal

[class^="icon3-"], [class*=" icon3-"]
  font-family 'ipmotor3' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon3-alert
  &:before
    content icon3-alert
.icon3-clock
  &:before
    content icon3-clock
.icon3-circle-full
  &:before
    content icon3-circle-full
.icon3-circle-half
  &:before
    content icon3-circle-half
.icon3-warning
  &:before
    content icon3-warning
.icon3-alert2
  &:before
    content icon3-alert2
.icon3-checkmark
  &:before
    content icon3-checkmark
.icon3-tick
  &:before
    content icon3-tick
.icon3-edit1
  &:before
    content icon3-edit1
.icon3-file-empty
  &:before
    content icon3-file-empty
.icon3-file-empty2
  &:before
    content icon3-file-empty2
.icon3-files-empty
  &:before
    content icon3-files-empty
.icon3-files-empty2
  &:before
    content icon3-files-empty2
.icon3-file-add
  &:before
    content icon3-file-add
.icon3-file-add2
  &:before
    content icon3-file-add2
.icon3-file-minus
  &:before
    content icon3-file-minus
.icon3-file-minus2
  &:before
    content icon3-file-minus2
.icon3-file-download3
  &:before
    content icon3-file-download3
.icon3-file-download22
  &:before
    content icon3-file-download22
.icon3-file-upload3
  &:before
    content icon3-file-upload3
.icon3-file-upload22
  &:before
    content icon3-file-upload22
.icon3-file-check3
  &:before
    content icon3-file-check3
.icon3-file-check22
  &:before
    content icon3-file-check22
.icon3-file-eye2
  &:before
    content icon3-file-eye2
.icon3-file-eye22
  &:before
    content icon3-file-eye22
.icon3-file-text2
  &:before
    content icon3-file-text2
.icon3-file-text3
  &:before
    content icon3-file-text3
.icon3-file-presentation
  &:before
    content icon3-file-presentation
.icon3-file-presentation2
  &:before
    content icon3-file-presentation2
.icon3-notebook
  &:before
    content icon3-notebook
.icon3-envelop
  &:before
    content icon3-envelop
.icon3-envelop2
  &:before
    content icon3-envelop2
.icon3-envelop3
  &:before
    content icon3-envelop3
.icon3-envelop4
  &:before
    content icon3-envelop4
.icon3-location2
  &:before
    content icon3-location2
.icon3-watch2
  &:before
    content icon3-watch2
.icon3-alarm
  &:before
    content icon3-alarm
.icon3-alarm-add
  &:before
    content icon3-alarm-add
.icon3-alarm-check
  &:before
    content icon3-alarm-check
.icon3-alarm-cancel
  &:before
    content icon3-alarm-cancel
.icon3-printer2
  &:before
    content icon3-printer2
.icon3-printer3
  &:before
    content icon3-printer3
.icon3-floppy-disk
  &:before
    content icon3-floppy-disk
.icon3-database-add
  &:before
    content icon3-database-add
.icon3-database-remove
  &:before
    content icon3-database-remove
.icon3-database-insert
  &:before
    content icon3-database-insert
.icon3-database-export
  &:before
    content icon3-database-export
.icon3-database-upload
  &:before
    content icon3-database-upload
.icon3-database-refresh
  &:before
    content icon3-database-refresh
.icon3-database-diff
  &:before
    content icon3-database-diff
.icon3-database-edit
  &:before
    content icon3-database-edit
.icon3-database-edit2
  &:before
    content icon3-database-edit2
.icon3-database-check
  &:before
    content icon3-database-check
.icon3-database-arrow
  &:before
    content icon3-database-arrow
.icon3-database-time
  &:before
    content icon3-database-time
.icon3-database-time2
  &:before
    content icon3-database-time2
.icon3-wrench
  &:before
    content icon3-wrench
.icon3-wrench2
  &:before
    content icon3-wrench2
.icon3-wrench3
  &:before
    content icon3-wrench3
.icon3-cog
  &:before
    content icon3-cog
.icon3-cogs
  &:before
    content icon3-cogs
.icon3-cog2
  &:before
    content icon3-cog2
.icon3-cog3
  &:before
    content icon3-cog3
.icon3-cog4
  &:before
    content icon3-cog4
.icon3-cog5
  &:before
    content icon3-cog5
.icon3-cog6
  &:before
    content icon3-cog6
.icon3-cog7
  &:before
    content icon3-cog7
.icon3-hammer
  &:before
    content icon3-hammer
.icon3-hammer-wrench
  &:before
    content icon3-hammer-wrench
.icon3-screwdriver
  &:before
    content icon3-screwdriver
.icon3-screwdriver2
  &:before
    content icon3-screwdriver2
.icon3-pie-chart
  &:before
    content icon3-pie-chart
.icon3-pie-chart2
  &:before
    content icon3-pie-chart2
.icon3-meter
  &:before
    content icon3-meter
.icon3-meter2
  &:before
    content icon3-meter2
.icon3-meter-slow
  &:before
    content icon3-meter-slow
.icon3-meter-medium
  &:before
    content icon3-meter-medium
.icon3-meter-fast
  &:before
    content icon3-meter-fast
.icon3-meter3
  &:before
    content icon3-meter3
.icon3-menu5
  &:before
    content icon3-menu5
.icon3-menu6
  &:before
    content icon3-menu6
.icon3-menu9
  &:before
    content icon3-menu9
.icon3-menu10
  &:before
    content icon3-menu10
.icon3-eye2
  &:before
    content icon3-eye2
.icon3-eye-plus
  &:before
    content icon3-eye-plus
.icon3-eye-minus
  &:before
    content icon3-eye-minus
.icon3-checkmark6
  &:before
    content icon3-checkmark6
.icon3-checkmark23
  &:before
    content icon3-checkmark23
.icon3-checkmark322
  &:before
    content icon3-checkmark322
.icon3-checkmark4
  &:before
    content icon3-checkmark4
.icon3-checkmark5
  &:before
    content icon3-checkmark5
.icon3-file-eye
  &:before
    content icon3-file-eye
.icon3-file
  &:before
    content icon3-file
.icon3-document
  &:before
    content icon3-document
.icon3-file-preview
  &:before
    content icon3-file-preview
.icon3-page
  &:before
    content icon3-page
.icon3-paper
  &:before
    content icon3-paper
.icon3-file-upload
  &:before
    content icon3-file-upload
.icon3-file2
  &:before
    content icon3-file2
.icon3-document2
  &:before
    content icon3-document2
.icon3-page2
  &:before
    content icon3-page2
.icon3-paper2
  &:before
    content icon3-paper2
.icon3-file-check
  &:before
    content icon3-file-check
.icon3-file3
  &:before
    content icon3-file3
.icon3-document3
  &:before
    content icon3-document3
.icon3-checkmark22
  &:before
    content icon3-checkmark22
.icon3-correct
  &:before
    content icon3-correct
.icon3-tick3
  &:before
    content icon3-tick3
.icon3-page3
  &:before
    content icon3-page3
.icon3-paper3
  &:before
    content icon3-paper3
.icon3-file-check2
  &:before
    content icon3-file-check2
.icon3-file4
  &:before
    content icon3-file4
.icon3-document4
  &:before
    content icon3-document4
.icon3-checkmark32
  &:before
    content icon3-checkmark32
.icon3-correct2
  &:before
    content icon3-correct2
.icon3-tick22
  &:before
    content icon3-tick22
.icon3-page4
  &:before
    content icon3-page4
.icon3-paper4
  &:before
    content icon3-paper4
.icon3-file-download
  &:before
    content icon3-file-download
.icon3-file5
  &:before
    content icon3-file5
.icon3-document5
  &:before
    content icon3-document5
.icon3-page5
  &:before
    content icon3-page5
.icon3-paper5
  &:before
    content icon3-paper5
.icon3-file-upload2
  &:before
    content icon3-file-upload2
.icon3-file6
  &:before
    content icon3-file6
.icon3-document6
  &:before
    content icon3-document6
.icon3-page6
  &:before
    content icon3-page6
.icon3-paper6
  &:before
    content icon3-paper6
.icon3-file-download2
  &:before
    content icon3-file-download2
.icon3-file7
  &:before
    content icon3-file7
.icon3-document7
  &:before
    content icon3-document7
.icon3-page7
  &:before
    content icon3-page7
.icon3-paper7
  &:before
    content icon3-paper7
.icon3-user-plus
  &:before
    content icon3-user-plus
.icon3-user-minus
  &:before
    content icon3-user-minus
.icon3-user-check
  &:before
    content icon3-user-check
.icon3-equalizer
  &:before
    content icon3-equalizer
.icon3-truck
  &:before
    content icon3-truck
.icon3-menu3
  &:before
    content icon3-menu3
.icon3-menu4
  &:before
    content icon3-menu4
.icon3-eye
  &:before
    content icon3-eye
.icon3-plus
  &:before
    content icon3-plus
.icon3-minus
  &:before
    content icon3-minus
.icon3-cross
  &:before
    content icon3-cross
.icon3-checkmark3
  &:before
    content icon3-checkmark3
.icon3-checkmark222
  &:before
    content icon3-checkmark222
.icon3-enter
  &:before
    content icon3-enter
.icon3-exit
  &:before
    content icon3-exit
.icon3-radio-checked
  &:before
    content icon3-radio-checked
.icon3-radio-checked2
  &:before
    content icon3-radio-checked2
.icon3-radio-unchecked
  &:before
    content icon3-radio-unchecked
.icon3-filter
  &:before
    content icon3-filter
.icon3-file-pdf
  &:before
    content icon3-file-pdf
.icon3-file-excel
  &:before
    content icon3-file-excel
.icon3-exclamation-triangle
  &:before
    content icon3-exclamation-triangle
.icon3-warning2
  &:before
    content icon3-warning2
.icon3-calendar
  &:before
    content icon3-calendar
.icon3-calendar-o
  &:before
    content icon3-calendar-o
.icon3-dot-circle-o
  &:before
    content icon3-dot-circle-o
.icon3-calendar-plus-o
  &:before
    content icon3-calendar-plus-o
.icon3-calendar-minus-o
  &:before
    content icon3-calendar-minus-o
.icon3-calendar-times-o
  &:before
    content icon3-calendar-times-o
.icon3-calendar-check-o
  &:before
    content icon3-calendar-check-o
.icon3-stop-circle-o
  &:before
    content icon3-stop-circle-o
.icon3-motorcycle
  &:before
    content icon3-motorcycle
.icon3-bike
  &:before
    content icon3-bike
.icon3-motorcycle2
  &:before
    content icon3-motorcycle2
.icon3-travel
  &:before
    content icon3-travel
.icon3-ride
  &:before
    content icon3-ride
.icon3-checked
  &:before
    content icon3-checked
.icon3-checkmark2
  &:before
    content icon3-checkmark2
.icon3-tick2
  &:before
    content icon3-tick2
.icon3-checkbox
  &:before
    content icon3-checkbox
.icon3-bike2
  &:before
    content icon3-bike2
.icon3-motorcycle22
  &:before
    content icon3-motorcycle22
.icon3-travel2
  &:before
    content icon3-travel2
.icon3-ride2
  &:before
    content icon3-ride2
.icon3-tools
  &:before
    content icon3-tools
.icon3-options
  &:before
    content icon3-options
.icon3-repair
  &:before
    content icon3-repair
.icon3-error_outline
  &:before
    content icon3-error_outline
.icon3-error
  &:before
    content icon3-error
.icon3-mode_edit
  &:before
    content icon3-mode_edit
.icon3-local_shipping
  &:before
    content icon3-local_shipping
.icon3-local_offer
  &:before
    content icon3-local_offer
.icon3-local_gas_station
  &:before
    content icon3-local_gas_station



@font-face {
	font-family: 'ipmotor2';
	src:url('../fonts/ipmotor2/ipmotor2.eot?-49mp1t');
	src:url('../fonts/ipmotor2/ipmotor2.eot?#iefix-49mp1t') format('embedded-opentype'),
		url('../fonts/ipmotor2/ipmotor2.ttf?-49mp1t') format('truetype'),
		url('../fonts/ipmotor2/ipmotor2.woff?-49mp1t') format('woff'),
		url('../fonts/ipmotor2/ipmotor2.svg?-49mp1t#ipmotor2') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ipmotor';
	src:url('../fonts/ipmotor/ipmotor.eot?jj2aww');
	src:url('../fonts/ipmotor/ipmotor.eot?#iefixjj2aww') format('embedded-opentype'),
		url('../fonts/ipmotor/ipmotor.woff?jj2aww') format('woff'),
		url('../fonts/ipmotor/ipmotor.ttf?jj2aww') format('truetype'),
		url('../fonts/ipmotor/ipmotor.svg?jj2aww#ipmotor') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ipmotor';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




[class^="icon_"], [class*=" icon_"] {
	font-family: 'ipmotor2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_excel:before {
	content: "\eadd";
}

.icon_back:before {
	content: "\e96a";
}
.icon_close:before {
	content: "\ea0f";
}


.icon-mat:before {
	content: "\e605";
}

.icon-logo:before {
	content: "\e607";
}

.icon-eye:before {
	content: "\e608";
}

.icon-search-file:before {
	content: "\e606";
}

.icon-assistance:before {
	content: "\e600";
}

.icon-unit:before {
	content: "\e603";
}

.icon-flechita:before {
	content: "\e604";
}

.icon-tires:before {
	content: "\e601";
}

.icon-pin:before {
	content: "\e602";
}

.icon-operative:before {
	content: "\f03a";
}

.icon-drop-down:before {
	content: "\f0a3";
}

.icon-breadcrumb:before {
	content: "\f078";
}

.icon-settings:before {
	content: "\f02f";
}

.icon-edit:before {
	content: "\f058";
}

.icon-add:before {
	content: "\f05d";
}

.icon-menu:before {
	content: "\f05e";
}

.icon-delete:before {
	content: "\f0d5";
}

.icon-breakdown:before {
	content: "\f081";
}

.icon-ticket:before {
	content: "\e939";
}

.icon-programmed:before {
	content: "\e94e";
}

.icon-download:before {
	content: "\e960";
}

.icon-save:before {
	content: "\e962";
}

.icon-user:before {
	content: "\e971";
}

.icon-key:before {
	content: "\e98d";
}

.icon-repair:before {
	content: "\e991";
}

.icon-stats:before {
	content: "\e99c";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-creased:before {
	content: "\ea42";
}

.icon-unfolded:before {
	content: "\ea43";
}

.icon-item:before {
	content: "\ea54";
}

