.icon-button
	background-color royal_blue
	border-radius 4px
	color stone_gray
	
	font-size .7em
	padding 6px 8px 6px 8px	
	position relative
	top 5px
	
	&-i
		display inline-block
		
		
	&-text
		font-family 'Roboto'
		position relative
		top -1px