// Add content blocks styles

@import "modules/dinamic-content/content-blocks/second-nav.styl"


// Add seccion styles
@import "modules/dinamic-content/modules/visitas.styl"
@import "modules/dinamic-content/modules/intervenciones.styl"
@import "modules/dinamic-content/modules/programming.styl"
@import "modules/dinamic-content/modules/asistente.styl"