// Buscador de historiales de matrícula

.consult-record
	&-input
		background stone_gray
		border 0
		border-radius 2px
		color royal_blue
		font-size 13px
		height 22px
		padding-left 24px
		width 150px
		text-transform uppercase
		display inline-block
	&-icon
		bottom 11px
		color royal_blue
		font-size 22px
		left 12px
		position absolute
		top 10px
	&-results
		display inline-block
		vertical-align middle
		position absolute

		&-icon
			
			font-size .5em
			color dark_yellow
			background-color #2C64B2
			
			display inline-block
			vertical-align middle
			
			width 13px
			height 21px
			border-top-left-radius 7px
			border-bottom-left-radius 7px
			border-left 2px solid dark_blue
			border-top 2px solid dark_blue
			border-bottom 2px solid dark_blue
			
			padding-left 3px
			
			padding-top 4px
			
			& span
				color stone_gray
				font-weight bold
				position relative
				top 10px
				font-family arial, helvetica
				left -7px
			
		&-textnum
			
			padding 0 10px 0 5px
			line-height 25px
			margin-left -5px
			background-color stone_gray
			display inline-block
			border-top-right-radius 7px
			border-bottom-right-radius 7px
			color royal_blue
			border-right 2px solid dark_blue
			border-top 2px solid dark_blue
			border-bottom 2px solid dark_blue
			height 25px
			vertical-align middle
		&-list
			position relative
			list-style none
			text-align left
			margin 10px 0 0 10px
			box-sizing border-box	
			padding 0
			
			
			
		&-item
			float left
			background-color marine_aqua
			border-radius 4px
			padding 0 0 0 9px
			margin 0
			box-sizing border-box			
			height 23px
			line-height 26px
			text-align right
			overflow hidden
			margin-bottom 20px
			position relative
			margin-right 10px
				
		&-link
			color royal_blue
			text-decoration none
			display inline-block
			padding 10px 10px 8px 10px
			box-sizing border-box
			background-color stone_gray
			font-weight bold
			height 30px
			position relative
			line-height 5px
			margin-left 10px;
			font-size 1em !important
		
			
//@media screen and (min-width : 767px)